<!-- index.ejs (your view file) -->
<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
</head>
<body>
  <div id="userList">kaise ho bhai</div>
  <h1>
    <h3>FirstName: <%= FirstName %></h3>
    <h3>LastName : <%= LastName %></h3>
  </h1>
  
  <script>
  </script>
</body>
</html>
